
.jumbotron {
  color:white;
  margin-bottom:0;
  padding-bottom:40px;
  background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.6) 17%, rgba(0, 0, 0, 0)), url('/img/plant-bg.jpg');
  background-size:cover;
  min-height:480px;
}



//
//
//
//Quote Section
//
//
//



.quote-holder {
  background: rgb(226,226,226);
  background: -moz-linear-gradient(-45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 );

  padding:15px 5px;
}
.quote-box {
  width:80%;
  margin:10px auto 5px;
  position:relative;
}
.quote-text {
  margin:5px;
  font-size:1.7rem;
  font-style: italic;
  @media screen and (max-width: $break-medium) {
    padding:25px 70px 80px 25px;
  }
  @media screen and (max-width: $break-large) {
    padding:25px 90px 80px 30px;
  }

  color:white;
  background-image: url('/img/speech-box.png');
  background-size:100% 100%;
  //&:before {
  //  content:url('/img/leaf-icon.png');
  //  width:60px;
  //  height:60px;
  //  position: absolute;
  //  left:-40px;
  //  top:-10px;
  //}
  //&:after {
  //  content:url('/img/leaf-icon.png');
  //  width:40px;
  //  height:40px;
  //  position: absolute;
  //  right:-40px;
  //}
}
.quote-author {
padding-left:40px;
  font-size:1.4em;
  line-height:40px;
  &:before {
    content:url('/img/leaf-icon.png');
    width:40px;
    height:40px;
    position: absolute;
    left:0px;
  }
}
.quote-source {
  font-weight:bold;
  color: #326432;
  text-decoration: none;
  &:hover {
    color:#660066;
  }
}


//
//
//
//three points holder
//
//
//



.info-holder {
  padding:25px;
  position: relative;
}
.points-img {

  img {
    display: block;
    width:80%;
    margin:0 auto;
    height:180px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color:#2b669a;
    //box-shadow:#2e6da4 0px 0px 0px 2px;
    border:6px inset white;
  }
}
.points-info {
  padding:0;
  margin-top:-10px;
  z-index:5;
  h3 {
    color:white;
    background-color:#067628;
    text-align: center;
    margin:0;
    padding: 15px 5px 8px 5px;
    text-shadow: 2px 2px 2px #444;
  }
  p {
    border-bottom:3px solid #A5A5A5;
    padding:10px;
    font-size:1.7rem;
    text-align: center;
    border-radius:0 0 10px 10px;
    height:190px;
  }
}



//
//
//
//
//
//
//
//this is the styling section that pertains to the product viewer being used on the landing page
//
//
//
//
//
//


.item-style {
  margin-bottom:20px;
}
.item-box {
  position:relative;
  background-color:#fff;
  width:100%;
  min-height:100%;
  min-width:100%;
  height:$item-height;
  -webkit-box-shadow: 2px 3px 4px rgb(110, 110, 110);
  -moz-box-shadow: 2px 7px 10px rgb(110, 110, 110);
  box-shadow: 2px 7px 10px rgb(110, 110, 110);
  &:hover {
    -webkit-box-shadow: 1px 2px 2px rgb(110, 110, 110);
    -moz-box-shadow: 1px 3px 5px rgb(110, 110, 110);
    box-shadow: 1px 3px 5px rgb(110, 110, 110);
  }
  img {
    height:85%;
    max-width:90%;
    position:absolute;
    left:0;
  }
}

.item-color-bar {
  height:$item-height;
  display:inline-block;
  position:absolute;
  left:0;
  width:15px;
  z-index:10;
  background-color: #3e8f3e;
  padding:0;
  margin:0;
}
.item-price-box {
  z-index:5;
  font-size:1.5rem;
  position: absolute;
  right:0;

}
.item-info {
  z-index:5;
  position: absolute;
  bottom:0;
  width:100%;
  padding-left:15px;
  background-color: rgba(250,250,250,.75);
  .info-left {
    width:75%;
    padding:0 2px;
    height:$item-height/4;
    display:inline-block;
    float:left;
    h4 {
      margin:5px 0;
    }
    a {
      font-size:1.2rem;
      color:#2b669a;
      &:hover {
        color:#660066;
      }}
  }
  .info-right {
    width:25%;
    float:left;
    height:$item-height/4;
    display:inline-block;
  }
}
.item-price-line {
  background-color:rgba(250,250,250,.75);
  width:80px;
  font-size:2rem;
  .item-price-label {
    display:block;
    font-weight: bold;
    text-align:left;
    width: 100%;
    padding-right:20px;
  }
  .item-price-val {
    display:block;
    width: 100%;
    text-align:left;
    &:before {
      content:"$";
    }
  }
}

.btn-full {
  padding:0!important;
  height:100%;
  width:100%;
  border-radius:0;
}

.item-animation {
  //&.ng-enter {
  //  -webkit-transition: 750ms ease-in-out all;
  //  -moz-transition: 750ms ease-in-out all;
  //  -ms-transition: 750ms ease-in-out all;
  //  -o-transition: 750ms ease-in-out all;
  //  transition: 750ms ease-in-out all;
  //  opacity: 1;
  //}
  //&.ng-enter-active {
  //  opacity: 0;
  //}
  //&.ng-leave {
  //  -webkit-transition: 750ms ease-in-out all;
  //  -moz-transition: 750ms ease-in-out all;
  //  -ms-transition: 750ms ease-in-out all;
  //  -o-transition: 750ms ease-in-out all;
  //  transition: 750ms ease-in-out all;
  //  opacity:0;
  //}
  //&.ng-leave-active {
  //  opacity:1;
  //}
}
