

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//$randoColor1 : #004C3B;
//$randoColor2 : #00CC9E;
//$randoColor3 : #008C6D;
//$randoColor4 : #004031;
//$randoColor5 : #003328;
//
//$itemcolors: $randoColor1,$randoColor2,$randoColor3,$randoColor4,$randoColor5;
//$key: random(length($itemcolors));
//$nth: nth($itemcolors,$key);
//$randoColor: $nth !default;

body {
  padding-top:60px;
}
select {
  margin: 5px 15px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.typeSelect {
  background: url('/img/leaf-icon.png') 96% / 15% no-repeat #eee;
}
.qtySelect {
  background: url('/img/weed-jar.png') 96% / 15% no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px;
  }
}


.navbar {
  height:60px;
  padding-top:5px;
}
.nav-sierra {
  border-bottom:2px groove #ccc;

  background: rgb(169,219,128);
  background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1)));
  background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: -o-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: -ms-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: linear-gradient(to bottom,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );


}

.navbar-brand {
  padding:0;
}

.navbar-brand > img {
  margin-top:-5px;
  height:60px;
}

.product-viewer {
  height:500px;
  overflow-y: scroll;
  padding:15px 5px;
  border-left:2px solid #444;
}

$item-height: 360px;

.item-style {
  margin-bottom:20px;
}
.item-box {
  position:relative;
  width:100%;
  min-height:100%;
  min-width:100%;
  height:$item-height;
  -webkit-box-shadow: 2px 3px 4px rgb(110, 110, 110);
  -moz-box-shadow: 2px 7px 10px rgb(110, 110, 110);
  box-shadow: 2px 7px 10px rgb(110, 110, 110);
  &:hover {
    -webkit-box-shadow: 1px 2px 2px rgb(110, 110, 110);
    -moz-box-shadow: 1px 3px 5px rgb(110, 110, 110);
    box-shadow: 1px 3px 5px rgb(110, 110, 110);
  }
  img {
    height:85%;
    position:absolute;
    left:0;
    z-index:-10;
  }
}

.item-color-bar {
  height:$item-height;
  display:inline-block;
  position:absolute;
  left:0;
  width:15px;
  z-index:10;
  background-color: #3e8f3e;
  padding:0;
  margin:0;
}
.item-price-box {
  z-index:5;
  font-size:1.5rem;
  position: absolute;
  right:0;

}
.item-info {
  z-index:5;
  position: absolute;
  bottom:0;
  width:100%;
  padding-left:20px;
  background-color: rgba(250,250,250,.75);
  .info-left {
    width:75%;
    height:$item-height/4;
    display:inline-block;
    float:left;
  }
  .info-right {
    width:25%;
    float:left;
    height:$item-height/4;
    display:inline-block;
  }
  p {
    font-size:1.1rem;
  }
}
.item-price-line {
  background-color:rgba(250,250,250,.75);
  width:80px;
  font-size:2rem;
  .item-price-label {
    display:block;
    font-weight: bold;
    text-align:left;
    width: 100%;
    padding-right:20px;
  }
  .item-price-val {
    display:block;
    width: 100%;
    text-align:left;
    &:before {
      content:"$";
    }
  }
}

.btn-full {
  padding:0!important;
  height:100%;
  width:100%;
  border-radius:0;
}




