/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron {
  color: white;
  margin-bottom: 0;
  padding-bottom: 40px;
  background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.6) 17%, rgba(0, 0, 0, 0)), url("/img/plant-bg.jpg");
  background-size: cover;
  min-height: 480px; }

.jumbotron-text {
  padding: 40px 0;
  font-size: 1.3em; }

.quote-holder {
  background: #e2e2e2;
  background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -o-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(135deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 );
  padding: 15px 5px; }

.quote-box {
  width: 90%;
  margin: 10px auto 5px;
  position: relative; }

.quote-text {
  margin: 5px;
  font-size: 1.7rem;
  font-style: italic;
  color: white;
  background-image: url("/img/speech-box.png");
  background-size: 100% 100%; }
  @media screen and (max-width: 620px) {
    .quote-text {
      padding: 25px 40px 80px 25px; } }
  @media screen and (max-width: 758px) {
    .quote-text {
      padding: 25px 70px 80px 25px; } }
  @media screen and (max-width: 1120px) {
    .quote-text {
      padding: 25px 90px 100px 30px; } }
  @media screen and (min-width: 1120px) {
    .quote-text {
      padding: 20px 90px 85px 35px; } }

.quote-author {
  padding-left: 40px;
  font-size: 1.4em;
  line-height: 40px; }
  .quote-author:before {
    content: url("/img/leaf-icon.png");
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px; }

.quote-source {
  font-weight: bold;
  color: #326432;
  text-decoration: none; }
  .quote-source:hover {
    color: #660066; }

.info-holder {
  padding: 25px;
  position: relative; }

.points-img img {
  display: block;
  width: 90%;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #2b669a;
  border: 6px inset white; }
  @media screen and (max-width: 758px) {
    .points-img img {
      height: 170px; } }
  @media screen and (min-width: 758px) {
    .points-img img {
      height: 200px; } }

.points-info {
  padding: 0;
  margin-top: -10px;
  z-index: 5; }
  .points-info h3 {
    color: white;
    background-color: #067628;
    text-align: center;
    margin: 0;
    padding: 15px 5px 8px 5px;
    text-shadow: 2px 2px 2px #444; }
    @media screen and (max-width: 620px) {
      .points-info h3 {
        font-size: 1.2em; } }
    @media screen and (max-width: 1120px) {
      .points-info h3 {
        font-size: 1.3em; } }
    @media screen and (min-width: 1120px) {
      .points-info h3 {
        font-size: 1.7em; } }
  .points-info p {
    border-bottom: 3px solid #A5A5A5;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    height: 190px; }
    @media screen and (max-width: 758px) {
      .points-info p {
        font-size: 1.4rem; } }
    @media screen and (min-width: 758px) {
      .points-info p {
        font-size: 1.7rem; } }

.product-viewer {
  height: 540px;
  overflow: hidden;
  position: relative;
  padding: 0 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 0 0 8px 8px; }

.product-row {
  overflow-y: scroll;
  height: 100%; }

.no-overflow {
  overflow: hidden !important; }

.expanded {
  height: 600px !important; }

.product-viewer-shade {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 40px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.53) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.53) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#87000000',GradientType=0 ); }

.item-style {
  margin: 20px 0; }

.item-box {
  position: relative;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  height: 360px;
  -webkit-box-shadow: 2px 3px 4px #6e6e6e;
  -moz-box-shadow: 2px 7px 10px #6e6e6e;
  box-shadow: 2px 7px 10px #6e6e6e; }
  .item-box:hover {
    -webkit-box-shadow: 1px 2px 2px #6e6e6e;
    -moz-box-shadow: 1px 3px 5px #6e6e6e;
    box-shadow: 1px 3px 5px #6e6e6e; }
  .item-box img {
    height: 85%;
    max-width: 90%;
    position: absolute;
    left: 0; }

.item-color-bar {
  height: 360px;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 15px;
  z-index: 10;
  background-color: #3e8f3e;
  padding: 0;
  margin: 0; }

.item-price-box {
  z-index: 5;
  font-size: 1.5rem;
  position: absolute;
  right: 0; }

.item-info {
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  background-color: rgba(250, 250, 250, 0.75); }
  .item-info .info-left {
    width: 75%;
    padding: 0 2px;
    height: 90px;
    display: inline-block;
    float: left; }
    .item-info .info-left h4 {
      margin: 5px 0; }
    .item-info .info-left a {
      font-size: 1.2rem;
      color: #2b669a; }
      .item-info .info-left a:hover {
        color: #660066; }
  .item-info .info-right {
    width: 25%;
    float: left;
    height: 90px;
    display: inline-block; }

.item-price-line {
  background-color: rgba(250, 250, 250, 0.75);
  width: 80px;
  font-size: 2rem; }
  .item-price-line .item-price-label {
    display: block;
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding-right: 20px; }
  .item-price-line .item-price-val {
    display: block;
    width: 100%;
    text-align: left; }
    .item-price-line .item-price-val:before {
      content: "$"; }

.btn-full {
  padding: 0 !important;
  height: 100%;
  width: 100%;
  border-radius: 0; }

.item-animation {
  -webkit-transition: 750ms ease-in-out all;
  -moz-transition: 750ms ease-in-out all;
  -ms-transition: 750ms ease-in-out all;
  -o-transition: 750ms ease-in-out all;
  transition: 750ms ease-in-out all; }

.cart-box {
  display: inline-block;
  float: right;
  padding: 2px 15px; }
  .cart-box h4 {
    margin-top: 0; }
  .cart-box img {
    height: 40px;
    width: 40px; }
  .cart-box small {
    float: right; }

.call-us span {
  font-size: 140%;
  color: #444;
  font-weight: bold; }

.greenHRow {
  height: 5px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #b4ddb4;
  background: -moz-linear-gradient(left, #b4ddb4 0%, #83c783 0%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b4ddb4), color-stop(0%, #83c783), color-stop(33%, #52b152), color-stop(67%, #008a00), color-stop(83%, #005700), color-stop(100%, #002400));
  background: -webkit-linear-gradient(left, #b4ddb4 0%, #83c783 0%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: -o-linear-gradient(left, #b4ddb4 0%, #83c783 0%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: -ms-linear-gradient(left, #b4ddb4 0%, #83c783 0%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: linear-gradient(to right, #b4ddb4 0%, #83c783 0%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); }

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif; }

a {
  color: #53b053; }
  a:hover {
    color: #337ab7;
    text-decoration: none; }

select {
  margin: 5px 5px;
  border: 1px solid #111;
  background: transparent;
  width: 180px;
  padding: 5px 15px 5px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button {
  cursor: pointer;
  display: inline-block;
  padding: 20px 64px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  line-height: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(23, 36, 45, 0.9);
  -moz-box-shadow: 0 1px 0 rgba(23, 36, 45, 0.9);
  box-shadow: 0 3px 0 rgba(178, 76, 69, 0.9);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 18px 25px 18px 25px; }

.typeSelect {
  background: url("/img/leaf-icon-large.png") 96%/15% no-repeat #eeeeee; }

.qtySelect {
  background: url("/img/weed-jar.png") 96%/15% no-repeat #eeeeee; }

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0 \0) {
  select {
    background: none;
    padding: 5px; } }
.navbar {
  height: 60px;
  padding-top: 5px;
  background-color: white; }

.navbar-nav > li > a {
  font-size: 110%;
  color: #2b542c; }

.navbar-form, #navbar {
  max-height: 540px;
  background-color: transparent; }
  @media screen and (max-width: 758px) {
    .navbar-form, #navbar {
      background-color: white; } }

.nav-sierra {
  border-bottom: 2px groove #ccc;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); }

.icon-bar {
  background-color: #241104; }

.navbar-brand {
  padding: 0; }

.navbar-brand > img {
  margin-top: -5px;
  height: 60px; }
