
$linkColor: #53b053;
$navBackgroundColor: white;
$break-small:620px;
$break-medium:758px;
$break-large:1120px;
//$randoColor1 : #004C3B;
//$randoColor2 : #00CC9E;
//$randoColor3 : #008C6D;
//$randoColor4 : #004031;
//$randoColor5 : #003328;

//$itemcolors: $randoColor1,$randoColor2,$randoColor3,$randoColor4,$randoColor5;
//$key: random(length($itemcolors));
//$nth: nth($itemcolors,$key);
//$randoColor: $nth !default;



//item variables
$item-height: 360px;